<div class="modal fade" tabindex="-1" role="dialog" id="contactModal" aria-labelledby="contactModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact Us</h4>
      </div>
      <div class="modal-body">
        <h4>Mobile: 0403 208 256</h4>
        <h4><a href="mailto:hoodanthony@hotmial.com">Email to hoodanthony@hotmial.com</a></h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
