<div class="row custom-desc">
  <div class="col-md-sm-1 col-sm-1"></div>
  <div class="col-md-sm-6 col-sm-6">
    <!--<h4>Commercial Electrician <i style="color: white">| Industrial Electrician</i></h4>-->
    <!--<div>-->
      <!--Are you a commercial builder looking for a reputable electrical contractor in Melbourne? Are you searching for highly accredited electrical companies? Our commercial electrical services include fault diagnosis, power factor correction, 3 phase power, data communications, electrical maintenance, energy management, commercial switchboard upgrades, routine servicing and repairs of all electrical components and/or replacement of the electrical systems and controls found in offices, factories, retail shops, supermarkets, restaurants and large commercial buildings and industrial warehouses. Take a look at some of our PROJECTS, the results speak for themselves.-->
    <!--</div>-->
    <!--<hr/>-->
    <h4>Residential Electrician Melbourne <i style="color: white">| Electrical Contractors Melbourne</i></h4>
    <div>
      Are you renovating or building a new home and looking for a reputable electrician? We will provide a stress free and efficient process. From installation of kitchen lights, pendant lighting, ceiling fans, outdoor lighting, to rewiring a house, upgrading a switchboard, or installation of data & communications for your TV, Internet, power points or exhaust fans, we are experienced at improving your home’s energy efficiency whilst enhancing its aesthetic appeal. We can provide you with top of the range home security, home automation, including audio visual installation and lighting solutions that will have you LOVE living at home.
    </div>
  </div>
  <div class="col-md-sm-4 col-sm-4">
    <div class="custom-desc-bullets">
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-check"></i> New houses
        </li>
        <li>
          <i class="fa fa-check"></i> Switch board and mains upgrades
        </li>
        <li>
          <i class="fa fa-check"></i> Split system wiring
        </li>
        <li>
          <i class="fa fa-check"></i> Safety switches, surge protectors
        </li>
        <li>
          <i class="fa fa-check"></i> Smoke alarms
        </li>
        <li>
          <i class="fa fa-check"></i> Alarms and intercom systems
        </li>
        <li>
          <i class="fa fa-check"></i> Appliances
        </li>
        <li>
          <i class="fa fa-check"></i> All electrical services and installation
        </li>
        <li>
          <i class="fa fa-check"></i> Ducted vacuum system
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-sm-1 col-sm-1"></div>
</div>
