<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="custom-logo col-md-3 col-sm-3">
    <a href="#/">
      <span>N.S.U. ELECTRICAL</span>
      <span><i class="fa fa-plug"></i> & COMMUNICATIONS</span>
    </a>
  </div>
  <div class="custom-slogan col-md-3 col-sm-3">
    <div>
      <span>8 Hour/6 Day Service! <span style="color: red">100%</span> Bonded</span>
      <span> & Insured for Your Protection.</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="custom-contact">
      <span>We are only a phone call away!</span>
       <span>CALL US: 0403 208 256</span>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
